In [17]:
import pandas as pd
import datetime

In [26]:
def parse_timestamp(time_in_secs):    
    return datetime.datetime.fromtimestamp(int(time_in_secs) / 1e6)

In [38]:
# Columns description
# Timestamp micro since 1970 01 01 00:00:00 GMT'
# Line ID
# Direction
# Journey Pattern ID
# Time Frame (The start date of the production time table - in Dublin the production time table starts at 6am and ends at 3am)
# Vehicle Journey ID (A given run on the journey pattern)
# Operator (Bus operator, not the driver)
# Congestion [0=no,1=yes]
# Lon WGS84
# Lat WGS84
# Delay (seconds, negative if bus is ahead of schedule)
# Block ID (a section ID of the journey pattern)
# Vehicle ID
# Stop ID
# At Stop [0=no,1=yes]

categorical_columns = ['Line ID', 'Direction', 'Journey Pattern ID', 'Vehicle Journey ID', 'Operator', 'Congestion', 'Block ID', 'Vehicle ID', 'Stop ID', 'At Stop']
df = pd.read_csv('sir140113-200113/siri.20130114.csv.gz',
                 names=['Timestamp', 'Line ID', 'Direction', 'Journey Pattern ID', 'Time Frame', 'Vehicle Journey ID', 'Operator', 'Congestion', 'Lon', 'Lat', 'Delay', 'Block ID', 'Vehicle ID', 'Stop ID', 'At Stop'],
                 parse_dates=[0], date_parser=parse_timestamp,
                 dtype={col_name: 'category' for col_name in categorical_columns})

In [39]:
df.columns

Index(['Timestamp', 'Line ID', 'Direction', 'Journey Pattern ID', 'Time Frame',
       'Vehicle Journey ID', 'Operator', 'Congestion', 'Lon', 'Lat', 'Delay',
       'Block ID', 'Vehicle ID', 'Stop ID', 'At Stop'],
      dtype='object')

In [40]:
df.dtypes

Timestamp             datetime64[ns]
Line ID                     category
Direction                   category
Journey Pattern ID          category
Time Frame                    object
Vehicle Journey ID          category
Operator                    category
Congestion                  category
Lon                          float64
Lat                          float64
Delay                          int64
Block ID                    category
Vehicle ID                  category
Stop ID                     category
At Stop                     category
dtype: object

In [41]:
df.head()

,Timestamp,Line ID,Direction,Journey Pattern ID,Time Frame,Vehicle Journey ID,Operator,Congestion,Lon,Lat,Delay,Block ID,Vehicle ID,Stop ID,At Stop
0,2013-01-14 04:00:01,66,0,00660001,2013-01-13,14217,PO,0,-6.569710,53.380451,222,66006,40001,3968,0
1,2013-01-14 04:00:01,40,0,040D0001,2013-01-13,14403,HN,0,-6.373083,53.410049,338,40204,38067,6005,0
2,2013-01-14 04:00:01,27,0,077A1001,2013-01-13,14130,RD,0,-6.259118,53.345650,-534,27009,33254,1358,0
3,2013-01-14 04:00:01,39,0,039A0001,2013-01-13,14729,PO,0,-6.274983,53.350784,-125,39015,33557,7160,0
4,2013-01-14 04:00:01,46,0,046A0001,2013-01-13,16565,D1,0,-6.230600,53.317665,-988,46007,33532,2032,0

In [42]:
df.describe()

                Lon           Lat         Delay
count  1.725539e+06  1.725539e+06  1.725539e+06
mean  -6.271743e+00  5.334475e+01 -7.030397e+01
std    8.367796e-02  5.517641e-02  4.611429e+02
min   -6.615016e+00  5.307040e+01 -4.698000e+03
25%   -6.307931e+00  5.331962e+01 -2.580000e+02
50%   -6.261075e+00  5.334644e+01  0.000000e+00
75%   -6.231783e+00  5.337473e+01  6.100000e+01
max   -6.053017e+00  5.360652e+01  3.136200e+04